{% extends 'base.html' %}
{% load staticfiles%}

{% block title %}Boards{% endblock %}

{% block content %}

<div class="panel panel-primary">
 <div class="panel-heading">My Boards</div>
 <div class="panel-body">
 {% if not created_boards %}
    <div class="alert alert-warning text-center">You don't have any boards. Create one?</div>
 {% else %}
     {% for board in created_boards %}
     <a href="/boards/{{ board.id }}"/>
        <div class="board-button">
            <div class="board-text">{{ board.title }}</div>
        </div>
     </a>
     {% endfor %}
 {% endif %}
<div class="new-board">
  <form method="post" action="/boards/new/">
      {% csrf_token %}   
        <div class="form-group">
          <label for="board_title">Create new board:</label>
          <input type="text" class="form-control" id="board_title" name="board_title" placeholder="My new board"/>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-default" value="Create" />
        </div>
   </form>
 </div>
 </div>
</div>

<div class="panel panel-primary">
 <div class="panel-heading">Other People's Boards</div>
 <div class="panel-body">
 {% if not other_boards %}
    <div class="alert alert-warning text-center">Nobody has added you to their boards</div>
 {% else %}
     {% for board in other_boards %}
     <a href="/boards/{{ board.id }}"/>
        <div class="board-button">
            <div class="board-text">{{board.creator}}'s {{ board.title }}</div>
        </div>
     </a>
     {% endfor %}
 {% endif %}
 </div>
</div>

{% endblock %}