{% extends 'base.html' %}
{% load staticfiles%}

{% block title %}Boards{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/board.css' %}">
{% endblock %}

{% block content %}

<ol id="board_lists">
	{% for board_list in board.board_lists %}
	<li class="list" draggable="true">
		<div class="dropdown list_options">
		  <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			<i class="fa fa-large fa-caret-down"></i>
		  </a>
		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			<li><a href="#">Action</a></li>
			<li><a href="#">Another action</a></li>
			<li><a href="#">Something else here</a></li>
			<li><a href="#">Separated link</a></li>
		  </ul>
		</div>

		<h2>{{ board_list.title }}</h2>

		<ol class="list_items">
			{% for list_entry in board_list.list_entries %}
				<li draggable="true" data-toggle="modal" data-target="#view_list_item_modal{{ list_entry.id }}">
					{{ list_entry.title }}
				</li>
			{% endfor %}
			<li class="add"><a href="#" data-toggle="modal" data-target="#add_list_item_modal{{ board_list.id }}">add item...</a></li>
		</ol>
	</li>
	{% endfor %}
	<a href="javascript:;">
		<div class="list add_list" data-toggle="modal" data-target="#add_list_modal">
	        Add a list...
	    </div>
	</a>
</ol>

<div class="board-nav-bar">
	 <div class="board-name">{{ board.title }}</div>
	 <p>
	 	<div>Admins:</div>
	 	<ul class="board-nav-bar-item">
	 	{% for member in board.board_admins %}
	 		<li>
	 		<div style="display: inline-block;">
	 			{{ member.username }}
 			</div>

	 		<form style="display: inline-block;" method="post" action="{% url 'remove_admin' %}">
	      	{% csrf_token %}
	      	<input type="hidden" name="user_id" value="{{ member.id }}" />
	      	<input type="hidden" name="board_id" value="{{ board.id }}" />
	 		<a href="#" onclick="$(this).closest('form').submit()"><i class="fa fa-times"></i></a>
	 		</form>
	 		</li>
	 	{% endfor %}
	 	</ul>
	 	<div>Members:</div>
	 	<ul class="board-nav-bar-item">
	 	{% for member in board.board_members %}
	 		<li>
 			<div style="display: inline-block;">
	 			{{ member.username }}
 			</div>
 			
	 		<form style="display: inline-block;" method="post" action="{% url 'remove_member' %}">
	      	{% csrf_token %}
	      	<input type="hidden" name="user_id" value="{{ member.id }}" />
	      	<input type="hidden" name="board_id" value="{{ board.id }}" />
	 		<a href="#" onclick="$(this).closest('form').submit()"><i class="fa fa-times"></i></a>
	 		</form>
	 		</li>
	 	{% endfor %}
	 	</ul>
	 	<form class="board-nav-bar-item" method="post" action="{% url 'add_member' %}">
	      {% csrf_token %}
	      <input type="hidden" id="board_id " name="board_id" value="{{ board.id }}" />
	      <div class="form-group">
	        <label for="list_title">Add member:</label>
	        <input type="text" class="form-control" id="member_username" name="member_username" placeholder="George"/>
	      </div>
          <input type="submit" class="btn btn-primary" value="Add" />
	    </form>
	    <form class="board-nav-bar-item" method="post" action="{% url 'add_admin' %}">
	      {% csrf_token %}
	      <input type="hidden" id="board_id " name="board_id" value="{{ board.id }}" />
	      <div class="form-group">
	        <label for="list_title">Add Admin:</label>
	        <input type="text" class="form-control" id="member_username" name="member_username" placeholder="George"/>
	      </div>
          <input type="submit" class="btn btn-primary" value="Add" />
	    </form>
	 </p>
</div>
	

{% for board_list in board.board_lists %}
<div class="modal fade" id="add_list_item_modal{{ board_list.id }}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add a new list item</h4>
      </div>
      <form method="post" action="{% url 'new_list_item' %}">
      {% csrf_token %}
      <input type="hidden" id="list_id "name="list_id" value="{{ board_list.id }}" />
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
            <div class="form-group">
              <label for="list_title">Title:</label>
              <input type="text" class="form-control" id="list_item_title" name="list_item_title" placeholder="My new list item"/>
            </div>
            <div class="form-group">
              <label for="list_title">Description:</label>
              <textarea class="form-control" id="list_item_description" name="list_item_description" Placeholder="My description"></textarea>
            </div>
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Add" />
      </div>
      </form>
    </div>
  </div>
</div>

{% for list_entry in board_list.list_entries %}
<form action="{% url 'change_entry' %}" method="post">
	{% csrf_token %}
	<input type="hidden" name="list_entry_id" value={{ list_entry.id}} />
	<div class="modal fade" id="view_list_item_modal{{ list_entry.id }}">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <input type="text" name="list_entry_title" class="modal-title" value="{{ list_entry.title}}" />
	      </div>
	      <div class="modal-body">
	        <p><textarea rows="4" cols="50" name="list_entry_description">{{ list_entry.description}}</textarea></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>
</form>
{% endfor %}
{% endfor %}
<div class="modal fade" id="add_list_modal">
  <div class="modal-dialog">
    <div class="modal-content">
    <form method="post" action="{% url 'new_list' %}">
      {% csrf_token %}
      <input type="hidden" id="board_id "name="board_id" value="{{ board.id }}" />
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add a list</h4>
      </div>
      <div class="modal-body">
            <div class="form-group">
              <label for="list_title">Title:</label>
              <input type="text" class="form-control" id="list_title" name="list_title" placeholder="My new list"/>
            </div>
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Add" />
      </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_js %}
	<script src="{% static 'js/board.js' %}"></script>
{% endblock %}