/* Bootstrap scroll fixes */

body {
    background: #0079BF;
}

.username-text {
    color: white;
    margin-right: 10px;
}

.login-form {
    margin-right: 0px;
}

.login-button, .login-password {
    margin-left: 15px;
}

.modal-open .modal {
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow-y: auto;
}

#board_name {
    float: left;
    margin-left: 1em;
    font-size: 1.6em;
    color: #fff;

    text-shadow: 2px 2px #444;
}

#board_lists
{
    margin: 20px 0 0;
    padding: 0 0 10px;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    white-space: nowrap;
}

.list
{
    display: inline-block;
    margin-left: 10px;
    padding: 10px 10px 10px;
    width: 250px;
    vertical-align: top;

    background: #eee;
    border-radius: 4px;

    list-style: none;
    box-shadow: 2px 2px #666;
}

.list.add_list {
    background: rgba(0, 0, 0, 0.25);
    color: #eee;
    box-shadow: none;
}

.list.add_list:hover {
    background: rgba(0, 0, 0, 0.5);
}

.list.add_list a {
    color: #eee;
}

.list h2 {
    margin-top: 0;
    font-size: 1.1em;
    font-weight: bold;
}

.list_options {
    float: right;
}

a.dropdown-toggle {
    cursor: pointer;
    color: #333;
}

.list_items {
    list-style: none;
}

.list_items li {
    margin: 8px 0;
    padding: 5px 7px;
    background: #fff;
    line-height: 1.4em;

    box-shadow: 1px 1px #ddd;
}

.list_items li:hover {
    background: #eee;
    cursor: pointer;
}

.list_items li.add {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;

    background: #eee;
    box-shadow: none;
}