.new-board {
    width: 200px;
    height: 120px;
    background-color: #eee;
    padding: 20px;
    margin: 10px;
}

.board-button {
    width: 200px;
    height: 100px;
    margin: 10px;
    display: inline-block;
    background-color: #0079BF;
}

.board-text {
    padding: 10px;
    color: #FFF;
}

.username-text {
    color: white;
    margin-right: 10px;
}

.login-form {
    margin-right: 0px;
}

.login-button, .login-password {
    margin-left: 15px;
}

.modal-open .modal {
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow-y: auto;
}

#board_name {
    float: left;
    margin-left: 1em;
    font-size: 1.6em;
    color: #fff;

    text-shadow: 2px 2px #444;
}

#board_lists
{
    margin: 20px 0 0;
    padding: 0 0 10px;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    white-space: nowrap;
}